@import "~stylus-px2rem/lib/stylus-px2rem";
html-font-size =37,5px;

.error-tips
  width: 100%;
  height: 440px;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  margin: -220px auto 0;
  line-height: 40px;
  text-align: center;

.error-tips img
  margin: 20px auto;display:block;
  width 240px;

.error-tips h2
  color: #000;
  font-size: 16px;padding:0;margin:0;

.error-tips p
  color: #6d6d6d;
  font-size: 16px;

