@import "~stylus-px2rem/lib/stylus-px2rem";

.error-tips
  width: 100%;
  height: 440px;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  margin: -220px auto 0;
  line-height: 40px;
  text-align: center;


.error-tips img
  margin: 10px auto;display:block;


.error-tips .logo
  display: block;
  margin-right: 10px;


.error-tips .logo img
  margin-right: 20px;


.error-tips h2
  color: #000;
  font-size: 12px;


.error-tips p
  color: #6d6d6d;
  font-size: 12px;


.error-tips .btn
  display: inline-block;
  color: #fff;
  font-size: 20px;
  background-color: #3D88F3;
  text-decoration: none;
  padding: 5px 80px;
  border-radius: 5px;
  margin-top: 30px;
